<div class="user-content-form">
    <mat-horizontal-stepper linear #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel> Cliente </ng-template>
                <div class="form-group"><br>
                    <mat-toolbar>
                        Datos del Cliente
                    </mat-toolbar><br>
                    <div class="row">
                        <div class="form-group" class="width-form-groud col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <mat-form-field class="example-full-width ">
                                <mat-label>Cliente (*)</mat-label>
                                <input aria-label="Number" type="text" placeholder="Cliente" matInput formControlName="client" [matAutocomplete]="auto6">
                                <mat-autocomplete (optionSelected)="onSelectionChanged6($event)" autoActiveFirstOption #auto6="matAutocomplete">
                                    <mat-option *ngFor="let option  of filteredOptions6  | async" [value]="option">
                                        {{ option.name }}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="submitted && f.client.errors">
                                    <div *ngIf="f.client.errors.required">
                                        Por favor, seleccione un Cliente
                                    </div>
                                </mat-error>
                            </mat-form-field>
                        </div><br>
                        <div class="prod-scroll-table width-form-groud col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <table mat-table [dataSource]="dataSource">

                                <!-- Name Column -->
                                <ng-container matColumnDef="Nombre">
                                    <th mat-header-cell *matHeaderCellDef> Lista de clientes </th>
                                    <td mat-cell *matCellDef="let options6" (click)="selectUsers($event, options6);" class="option_tipe"> {{options6.name}} </td>
                                </ng-container>


                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>

                        </div>
                        <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

                    </div>

                </div>
                <br><br>
                <!--
                <div class="user-margin-buttons">
                    <div class="row">

                        <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <button tabindex="-1" mat-raised-button color="accent" matStepperNext>
                                <img src="../../../../../assets/menuIcons/next_w.png" height="36px" alt="">
                              </button> </div>
                    </div>
                </div>-->



            </form>
        </mat-step>
        <mat-step [stepControl]="secondsFormGroup" *ngIf="vieneSucursal===true">
            <form [formGroup]="secondsFormGroup">
                <ng-template matStepLabel> Sucursal </ng-template>
                <div class="form-group"><br>
                    <mat-toolbar>
                        Datos de Sucursal
                    </mat-toolbar><br>
                    <div class="row">

                        <div class="form-group" class="width-form-groud col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <mat-form-field class="example-full-width ">
                                <mat-label>Sucursal</mat-label>
                                <input aria-label="Number" type="text" placeholder="Sucursal" matInput formControlName="sucursal" [matAutocomplete]="auto7">
                                <mat-autocomplete class="cliente" (optionSelected)="onSelectionChanged7($event)" autoActiveFirstOption #auto7="matAutocomplete">
                                    <mat-option class="option_tipe" *ngFor="let option  of filteredOptions7  | async" [value]="option">
                                        {{ option.name }}
                                    </mat-option>
                                </mat-autocomplete>

                            </mat-form-field>
                        </div>
                        <div class="prod-scroll-table width-form-groud col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <table mat-table [dataSource]="dataSourceSucursal">

                                <!-- Name Column -->
                                <ng-container matColumnDef="Nombre">
                                    <th mat-header-cell *matHeaderCellDef> Lista de sucursales </th>
                                    <td mat-cell *matCellDef="let options7" (click)="selectSucursal($event, options7);" class="option_tipe"> {{options7.name}} </td>
                                </ng-container>


                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>

                        </div>
                        <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

                    </div>

                </div>
                <br><br>
                <div class="user-margin-buttons">
                    <div class="row">
                        <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <button tabindex="-1" mat-raised-button color="accent" matStepperPrevious>
                                <img src="../../../../../assets/menuIcons/back_w.png" height="36px" alt="">
                              </button> </div>
                        <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <button tabindex="-1" mat-raised-button color="accent" matStepperNext>
                                <img src="../../../../../assets/menuIcons/next_w.png" height="36px" alt="">
                              </button> </div>
                    </div>
                </div>



            </form>
        </mat-step>
        <mat-step [stepControl]="myControl2 " [optional]="isOptional">
            <form [formGroup]="myControl2" class="user-form-top">
                <ng-template matStepLabel>Entrada</ng-template>
                <div class="form-group"><br>
                    <mat-toolbar>
                        Nueva Entrada
                    </mat-toolbar><br>
                    <div class="row">
                        <mat-form-field class="col-12 col-xs-4 col-sm-4 col-md-6 col-lg-6">
                            <mat-label>Peso</mat-label>

                            <input matInput formControlName="peso" id="peso" type="number" min="0.00" onkeypress="return event.charCode >= 48 || (event.charCode === 44) || (event.charCode === 46)" />
                        </mat-form-field>
                        <mat-form-field class="col-12 col-xs-4 col-sm-4 col-md-6 col-lg-6">
                            <mat-label>Cantidad</mat-label>

                            <input matInput formControlName="cantidad" id="cantidad" type="number" min="0" onkeypress="return event.charCode >= 48" />
                        </mat-form-field>
                        <mat-form-field class="col-12 col-xs-4 col-sm-4 col-md-6 col-lg-6">
                            <mat-label>Tipo de Servicio (*)</mat-label>

                            <input aria-label="Number" type="text" placeholder="Servicio" matInput formControlName="myControl_ser" [matAutocomplete]="auto">
                            <mat-autocomplete (optionSelected)="onSelectionChanged4($event)" autoActiveFirstOption #auto="matAutocomplete">
                                <!--[displayWith]="displayFn"-->

                                <mat-option *ngFor="let option  of filteredOptions4  | async" [value]="option">
                                    {{ option.name }}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="submitted && f.myControl_ser.errors">
                                <div *ngIf="f.myControl_ser.errors.required">
                                    Por favor, ingrese un servicio
                                </div>
                            </mat-error>
                        </mat-form-field>




                        <mat-form-field class="col-12 col-xs-4 col-sm-4 col-md-6 col-lg-6">
                            <mat-label>Color</mat-label>

                            <input aria-label="Number" type="text" placeholder="Color" matInput formControlName="myControl_color" [matAutocomplete]="auto5" (blur)="validarVacio($event.target.value)">
                            <mat-autocomplete (optionSelected)="onSelectionChanged5($event)" autoActiveFirstOption #auto5="matAutocomplete">
                                <!--[displayWith]="displayFn"-->

                                <mat-option *ngFor="let option  of filteredOptions5  | async" [value]="option">
                                    {{ option.name }}
                                </mat-option>
                            </mat-autocomplete>

                        </mat-form-field>
                        <mat-form-field class="col-12 col-xs-4 col-sm-4 col-md-6 col-lg-6">
                            <mat-label>tipo de Ropa (*)</mat-label>
                            <mat-select formControlName="tipo" id="tipo">
                                <mat-option *ngFor="let t  of tipoRopa" [value]="t.value">
                                    {{t.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="col-12 col-xs-4 col-sm-4 col-md-6 col-lg-6">
                            <mat-label>Seleccionar Sub Servicio</mat-label>

                            <input aria-label="Number" type="text" placeholder="Seleccionar Sub Servicio" matInput formControlName="myControl_sub" [matAutocomplete]="auto2">
                            <mat-autocomplete (optionSelected)="onSelectionChanged($event)" autoActiveFirstOption #auto2="matAutocomplete">
                                <!--[displayWith]="displayFn"-->

                                <mat-option *ngFor="let option  of filteredOptions3  | async" [value]="option">
                                    {{ option.name }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 example-chip-list">
                            <mat-chip-list #chipList2 aria-label="Fruit2 selection2">
                                <mat-chip *ngFor="let fruit2 of fruits2" [selectable]="selectable2" [removable]="removable2" (removed)="removePhone(fruit2)">
                                    {{ fruit2 }}
                                    <mat-icon matChipRemove *ngIf="removable2">cancel</mat-icon>
                                </mat-chip>
                                <input placeholder="Sub Servicios seleccionados" #fruitInput [formControl]="fruitCtrl2" [matChipInputFor]="chipList2" [matChipInputSeparatorKeyCodes]="separatorKeysCodes2" [matChipInputAddOnBlur]="addOnBlur2" onkeydown="return false" />
                            </mat-chip-list>

                        </mat-form-field>


                        <div class="container">
                            <div class="row">

                                <div class="col-12 col-xs-4 col-sm-4 col-md-6 col-lg-6">
                                    <button mat-raised-button color="primary" class="btn btn-accent " (click)="add()" [disabled]="!myControl2.valid ||  idsubservicio4===0">Agregar</button>&nbsp; &nbsp;

                                </div>

                                <div class="col-12 col-xs-4 col-sm-4 col-md-6 col-lg-6">
                                    <button mat-raised-button color="primary" class="btn btn-accent " (click)="clearInput()" color="accent">Limpiar</button>&nbsp; &nbsp;

                                </div>
                            </div>
                        </div>

                    </div>


                    <mat-toolbar>
                        Operaciones realizadas
                    </mat-toolbar>
                    <div class="row">


                        <div id="table" class="table-editable miTableTripulante">
                            <table mdbTable borderless="true" id="tablacrews">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center">Servicio</th>
                                        <th class="text-center">Peso</th>
                                        <th class="text-center">Cantidad</th>
                                        <th class="text-center">Color</th>
                                        <th class="text-center">Sub Servicio</th>
                                        <th class="text-center">Tipo</th>

                                        <th class="text-center" colspan="2">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr mdb TableCol *ngFor="let person of personList; let id_list = index">
                                        <td class="text-center">
                                            {{ id_list + 1 }}
                                        </td>
                                        <td class="text-center">
                                            {{person.servicio }}
                                        </td>
                                        <td class="text-center">
                                            {{person.peso }}

                                        </td>
                                        <td class="text-center">
                                            {{person.cantidad }}

                                        </td>
                                        <td class="text-center">
                                            {{person.color }}

                                        </td>
                                        <td class="text-center">
                                            {{person.subservicio }}
                                        </td>
                                        <td class="text-center">
                                            {{person.tipo }}
                                        </td>
                                        <td class="text-center">
                                            <span class="table-remove" *ngIf="!loading">
                                                <a (click)="edittri(id_list)">
                                                    <mdb-icon
                                                    fas
                                                    icon="edit"
                                                    size="4.5x"
                                                     matTooltip="Editar"
                                                    > </mdb-icon>  
                                                </a>
                                                </span>

                                        </td>
                                        <td class="text-center">

                                            <span class="table-remove" *ngIf="!loading">
                                                            <a (click)="remove(id_list, person.id, person.cantidad)">
                                                                <mdb-icon
                                                                fas
                                                                icon="trash-alt"
                                                                size="4.5x"
                                                                style="color:#CD6155"
                                                                matTooltip="Eliminar"
                                                                > </mdb-icon>  
                                                            </a>
                                                            </span>
                                        </td>
                                    </tr>
                                    <!--<tr mdb TableCol>
                                        <td class="text-center" colspan="2">
                                            Total de productos
                                        </td>

                                        <td class="text-center">

                                        </td>
                                        <td class="text-center">
                                            {{totalProductos }}
                                        </td>
                                        <td class="text-center">

                                        </td>
                                        <td class="text-center">
                                        </td>
                                        <td class="text-center">
                                        </td>
                                        <td class="text-center">


                                        </td>
                                        <td class="text-center">

                                        </td>
                                    </tr>-->
                                </tbody>
                            </table>

                        </div>
                    </div>

                    <br><br>
                    <div class="user-margin-buttons">
                        <div class="row">
                            <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <button tabindex="-1" mat-raised-button color="accent" matStepperPrevious>
                                    <img src="../../../../../assets/menuIcons/back_w.png" height="36px" alt="">
                                  </button> </div>
                            <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <button tabindex="-1" mat-raised-button color="accent" matStepperNext>
                                    <img src="../../../../../assets/menuIcons/next_w.png" height="36px" alt="">
                                  </button> </div>
                        </div>
                    </div>



                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="treeFormGroup">
            <form [formGroup]="treeFormGroup">
                <ng-template matStepLabel> Observación </ng-template>
                <div class="form-group"><br>
                    <mat-toolbar>
                        Datos de Observación
                    </mat-toolbar><br>
                    <div class="row">

                        <div class="form-group" class="width-form-groud col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <mat-form-field class="example-full-width ">
                                <mat-label>Observación</mat-label>
                                <input aria-label="Number" type="text" maxlength="100" placeholder="Observación" matInput formControlName="observacion">
                            </mat-form-field>
                        </div>


                    </div>

                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <button tabindex="-1" mat-raised-button color="accent" matStepperPrevious>
                                <img src="../../../../../assets/menuIcons/back_w.png" height="36px" alt="">
                              </button> </div>

                        <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <button tabindex="-1" [disabled]="loading" mat-raised-button (click)="onSubmit()" color="primary">
                                <strong>Guardar</strong> 
                                </button>
                        </div>

                        <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <button tabindex="-1" type="button" (click)="closeModal()" mat-raised-button color="accent" style="color:white" class="btn btn-accent">
                                    
                                <strong>Cancelar</strong>
                              </button>
                        </div>
                    </div>
                </div>
                <br><br>



            </form>
        </mat-step>

    </mat-horizontal-stepper>


</div>