<div class="user-content-form">

    <mat-horizontal-stepper linear #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel> Cliente </ng-template>
                <div class="form-group"><br>
                    <mat-toolbar>
                        Datos del Cliente y Sucursal
                    </mat-toolbar><br>
                    <div class="row">
                        <mat-form-field class="col-12 col-xs-4 col-sm-4 col-md-6 col-lg-6">
                            <mat-label>Cliente (*)</mat-label>
                            <input matInput formControlName="cliente" id="cliente" type="text" />
                        </mat-form-field>
                        <mat-form-field class="col-12 col-xs-4 col-sm-4 col-md-6 col-lg-6">
                            <mat-label>Sucursal (*)</mat-label>
                            <input matInput formControlName="sucursal" id="sucursal" type="text" />
                        </mat-form-field>

                    </div>

                </div>
                <br><br>
                <div class="user-margin-buttons">
                    <div class="row">
                        <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <button mat-button mat-raised-button color="accent" class="netxPrev" matStepperNext>
                                <img src="../../../../../assets/menuIcons/next_w.png" height="50px" alt="">
                              </button>
                        </div>

                    </div>
                </div>



            </form>
        </mat-step>
        <mat-step [stepControl]="myControl2 " [optional]="isOptional">
            <form [formGroup]="myControl2" class="user-form-top">
                <ng-template matStepLabel>Tripulación</ng-template>
                <div class="form-group"><br>
                    <mat-toolbar>
                        Nuevo Tripulante
                    </mat-toolbar><br>
                    <div class="row">
                        <mat-form-field class="col-12 col-xs-4 col-sm-4 col-md-6 col-lg-6">
                            <mat-label>Servicio(*)</mat-label>

                            <input matInput formControlName="servicio" id="servicio" type="text" />
                        </mat-form-field>
                        <mat-form-field class="col-12 col-xs-4 col-sm-4 col-md-6 col-lg-6">
                            <mat-label>Peso (*)</mat-label>

                            <input matInput formControlName="peso" id="peso" type="text" />
                        </mat-form-field>
                        <mat-form-field class="col-12 col-xs-4 col-sm-4 col-md-6 col-lg-6">
                            <mat-label>Cantidad (*)</mat-label>

                            <input matInput formControlName="cantidad" id="cantidad" type="text" />
                        </mat-form-field>
                        <mat-form-field class="col-12 col-xs-4 col-sm-4 col-md-6 col-lg-6">
                            <mat-label>color (*)</mat-label>

                            <input matInput formControlName="color" id="color" type="text" />
                        </mat-form-field>
                        <mat-form-field class="col-12 col-xs-4 col-sm-4 col-md-6 col-lg-6">
                            <mat-label>subservicio (*)</mat-label>

                            <input matInput formControlName="subservicio" id="subservicio" type="text" />
                        </mat-form-field>
                        <mat-form-field class="col-12 col-xs-4 col-sm-4 col-md-6 col-lg-6">
                            <mat-label>tipo (*)</mat-label>

                            <input matInput formControlName="tipo" id="tipo" type="text" />
                        </mat-form-field>

                        <div class="col-12 col-xs-4 col-sm-4 col-md-6 col-lg-6">
                            <button mat-raised-button color="primary" class="btn btn-accent " (click)="add()" [disabled]="!myControl2.valid">+</button>&nbsp; &nbsp;
                            <button mat-raised-button color="primary" class="btn btn-accent " (click)="clearInput()" color="accent">Limpiar</button>&nbsp; &nbsp;

                            <!--[disabled]="!myControl.valid" (click)="reset()"-->
                        </div>

                    </div>


                    <mat-toolbar>
                        Tripulación del Embarque
                    </mat-toolbar>
                    <div class="row">


                        <div id="table" class="table-editable miTableTripulante">
                            <table mdbTable borderless="true" id="tablacrews">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center">Servicio</th>
                                        <th class="text-center">Peso</th>
                                        <th class="text-center">Cantidad</th>
                                        <th class="text-center">Color</th>
                                        <th class="text-center">Sub Servicio</th>
                                        <th class="text-center">Tipo</th>

                                        <th class="text-center" colspan="2">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr mdb TableCol *ngFor="let person of personList; let id = index">
                                        <td class="text-center">
                                            {{ id + 1 }}
                                        </td>
                                        <td class="text-center">
                                            {{person.servicio }}
                                        </td>
                                        <td class="text-center">
                                            {{person.peso }}

                                        </td>
                                        <td class="text-center">
                                            {{person.cantidad }}

                                        </td>
                                        <td class="text-center">
                                            {{person.color }}

                                        </td>
                                        <td class="text-center">
                                            {{person.subservicio }}
                                        </td>
                                        <td class="text-center">
                                            {{person.tipo }}
                                        </td>
                                        <td class="text-center">
                                            <span class="table-remove" *ngIf="!loading">
                                                <a (click)="edittri(id)">
                                                    <mdb-icon
                                                    fas
                                                    icon="edit"
                                                    size="4.5x"
                                                     matTooltip="Editar"
                                                    > </mdb-icon>  
                                                </a>
                                                </span>

                                        </td>
                                        <td class="text-center">

                                            <span class="table-remove" *ngIf="!loading">
                                                            <a (click)="remove(id)">
                                                                <mdb-icon
                                                                fas
                                                                icon="trash-alt"
                                                                size="4.5x"
                                                                style="color:#CD6155"
                                                                matTooltip="Eliminar"
                                                                > </mdb-icon>  
                                                            </a>
                                                            </span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>

                    <div class="container">
                        <div class="row">

                            <div class="col-6 col-xs-6 col-sm-4 col-md-4 col-lg-4">
                                <button tabindex="-1" mat-raised-button (click)="onSubmit()" color="primary">
                                    <strong>Guardar</strong> 
                                    </button>
                            </div>

                            <div class="col-6 col-xs-6 col-sm-4 col-md-4 col-lg-4">
                                <button tabindex="-1" [disabled]="loading" type="button" (click)="closeModal()" mat-raised-button color="accent" style="color:white" class="btn btn-accent">
                                        
                                    <strong>Cancelar</strong>
                                  </button>
                            </div>
                        </div>
                    </div><br><br>
                    <div class="row">
                        <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <button mat-button mat-raised-button color="accent" class="netxPrev" matStepperPrevious>
                                <img src="../../../../../assets/menuIcons/back_w.png" height="50px" alt="">
                              </button> </div>

                    </div>

                </div>
            </form>
        </mat-step>
    </mat-horizontal-stepper>


</div>