<form [formGroup]="firstform" class="client-form-top" (ngSubmit)="onSubmit()">
    <div class="form-group">

        <mat-form-field class="example-chip-list">
            <mat-label>Nombre(*)</mat-label>
            <input matInput formControlName="nombre" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
            <mat-error *ngIf="submitted && f.nombre.errors">
                <div *ngIf="f.nombre.errors.required">
                    Por Favor, Ingrese nombre
                </div>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-chip-list">
            <mat-label>Usuario(*)</mat-label>
            <input matInput autocomplete="true" formControlName="username" type="username" />
            <mat-error *ngIf="submitted && f.username.errors">
                <div *ngIf="f.username.errors.required">
                    Por Favor, Ingrese usuario
                </div>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-chip-list">
            <mat-label>Rol(*)</mat-label>
            <mat-select formControlName="rol" placeholder="Rol">
                <mat-option *ngFor="let act  of roles" [value]="act.value">
                    {{act.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && f.rol.errors">
                <div *ngIf="f.rol.errors.required">
                    Por Favor, Ingrese rol
                </div>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-chip-list">
            <mat-label>Clave(*)</mat-label>
            <input matInput formControlName="clave" type="password" />
            <mat-error *ngIf="submitted && f.clave.errors">
                <div *ngIf="f.clave.errors.required">
                    Por Favor, Ingrese clave
                </div>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-chip-list">
            <mat-label>Repetir clave(*)</mat-label>
            <input matInput formControlName="rclave" type="password" />
            <mat-error *ngIf="submitted && f.rclave.errors">
                <div *ngIf="f.rclave.errors.required">
                    Por Favor, repetir clave
                </div>
            </mat-error>
        </mat-form-field>
    </div>



    <div class="form-group warehouse-width-button">
        <div class="row ">
            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <button [disabled]="loading" mat-raised-button color="primary" class="btn btn-accent">
            Aceptar
          </button>
                    </div>
                    <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <button style="color:white" mat-raised-button color="accent" class="btn btn-accent" type="button" (click)="closeModal()">
            Cancelar
          </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>