<mat-toolbar>
    <span>Control Expresos</span>
    <button type="button" mat-button (click)="drawer.toggle() ">
        <!--<button type="button" mat-button (click)="goToMenu()">-->
        <mat-icon>menu</mat-icon>
    </button>

    <span class="example-spacer"></span>
    <div class="profile_user">

        <ng-container *ngIf="userLoggedIN !== undefined">
            <button mat-button [matMenuTriggerFor]="menu">
                <span style="font-size:12px; font-weight: bold;color: white;">
                    <span style=" width:100%">
                        <span>
                            <img width="25px" height="25px" [src]="userProfileImage" alt="">

                        </span>
                        <ng-container>
                            &nbsp; {{ userLoggedIN }}
                        </ng-container>

                    </span>
                </span>
            </button>
        </ng-container>

        <mat-menu #menu="matMenu">
            <button (click)="goToProfile()" mat-menu-item><i class="fas fa-id-badge"></i>&nbsp;Ver perfil</button>
            <button (click)="endSession()" mat-menu-item><i class="fas fa-sign-out-alt"></i>&nbsp;Cerrar sesión</button>
        </mat-menu>
    </div>


</mat-toolbar>
<mat-drawer-container class="example-container" autosize style="width: 100%; height: 100vh;">
    <mat-drawer #drawer mode="over" opened="false" position="start" class="example-sidenav" style="width:100%">
        <ul class="side-menu" style="list-style: none; ">

            <ng-container>
                <li style="padding-top: 15px; padding-left: 15px">
                    <a [routerLink]="['/Stats' ]" routerLinkActive="router-link-active" (click)="dashboard()">
                        <mat-icon>addchart</mat-icon>
                        <span style=" font-family: Arial, Helvetica, sans-serif; font-weight: bold; padding-left: 6px">
                            Dashboard</span>
                    </a>
                </li>
                <hr>


                <li>
                    <button mat-button [matMenuTriggerFor]="menuCatalogo">
                        <mat-icon>folder_shared</mat-icon>
                        &nbsp;
                        <span style="font-size: 15px; font-weight: bold;">Catálogos</span>
                    </button>
                    <mat-menu #menuCatalogo="matMenu">
                        <div>
                            <button (click)="listarUsuarios()" mat-menu-item [routerLink]="['/user' ]"
                                routerLinkActive="router-link-active">
                                <mat-icon> account_circle</mat-icon>&nbsp;Usuarios
                            </button>
                        </div>
                        <button (click)="listarDrivers()" mat-menu-item [routerLink]="['/drivers' ]"
                            routerLinkActive="router-link-active">
                            <mat-icon> assignment_ind</mat-icon>&nbsp;Choferes
                        </button>
                        <button (click)="listarPartners()" mat-menu-item [routerLink]="['/partners' ]"
                            routerLinkActive="router-link-active">
                            <mat-icon> supervisor_account</mat-icon>&nbsp;Socios
                        </button>
                        <hr>
                        <button (click)="listarVehicles()" mat-menu-item [routerLink]="['/vehicles' ]"
                            routerLinkActive="router-link-active">
                            <mat-icon>directions_bus</mat-icon>&nbsp;Vehículos
                        </button>
                        <button (click)="listarOficinas()" mat-menu-item [routerLink]="['/offices' ]"
                            routerLinkActive="router-link-active">
                            <mat-icon>store</mat-icon>&nbsp;Oficinas
                        </button>
                    </mat-menu>
                </li>

                <hr>
                <li>
                    <button mat-button [matMenuTriggerFor]="menuOpera">
                        <mat-icon>assignment_returned</mat-icon>
                        &nbsp;
                        <span style="font-size: 15px; font-weight: bold;">Operaciones</span>
                    </button>
                    <mat-menu #menuOpera="matMenu">
                        <button mat-menu-item (click)="listarLiquidaciones()" mat-menu-item
                            [routerLink]="['/liquidations' ]" routerLinkActive="router-link-active">
                            <mat-icon>assignment</mat-icon>&nbsp;Liquidaciones
                        </button>
                        <!--<button mat-menu-item (click)="listarCoins()" mat-menu-item [routerLink]="['/coins' ]"
                            routerLinkActive="router-link-active">
                            <mat-icon>arrow_circle_up</mat-icon>&nbsp;Cuadre de caja
                        </button>-->
                    </mat-menu>
                </li>
                <!-- <hr>
                <li>
                    <button mat-button (click)="report()" [routerLink]="['/report-form/report-form' ]"
                        routerLinkActive="router-link-active">
                        <mat-icon>local_printshop</mat-icon>
                        &nbsp;
                        <span style="font-size: 15px; font-weight: bold;">Reportes</span>
                    </button>

                </li>-->


                <hr>
                <li>
                    <button mat-button [matMenuTriggerFor]="menuConfig">
                        <mat-icon>settings</mat-icon>
                        &nbsp;
                        <span style="font-size: 15px; font-weight: bold;">Configuración</span>
                    </button>
                    <mat-menu #menuConfig="matMenu">
                        <button mat-menu-item (click)="listarCoins()" mat-menu-item [routerLink]="['/coins' ]"
                            routerLinkActive="router-link-active">
                            <mat-icon>monetization_on</mat-icon>&nbsp;Monedas
                        </button>
                        <button mat-menu-item (click)="listarGastos()" mat-menu-item [routerLink]="['/additionals' ]"
                            routerLinkActive="router-link-active">
                            <mat-icon>list_alt</mat-icon>&nbsp;Gastos
                        </button>
                        <button mat-menu-item (click)="listarGastosViaje()" mat-menu-item
                            [routerLink]="['/gastosvarios' ]" routerLinkActive="router-link-active">
                            <mat-icon>list_alt</mat-icon>&nbsp;Gastos de viaje
                        </button>
                    </mat-menu>
                </li>

            </ng-container>

        </ul>
    </mat-drawer>
    <!--*ngIf="role===1"-->
    <router-outlet #outlet="outlet">




    </router-outlet>
</mat-drawer-container>