.example-chip-list {
    width: 100%;
}

.netxPrev {
    box-shadow: 0px 2px 1px -17px #3e7327;
    background-color: #A6C800;
    cursor: pointer;
    color: #ffffff;
    border: 0px solid #000000;
    width: 100%;
    height: 44px;
    border-radius: 100px;
}

.btnS {
    width: 15% !important;
}

.btnR {
    width: 15% !important;
}

.netxPrev:hover {
    background-color: #72b352;
}

.netxPrev:active {
    position: relative;
    top: 1px;
}

.btn.btn-accent.mat-raised-button {
    font-size: 12px;
}

.mat-raised-button.mat-primary {
    font-size: 12px;
}

.mat-checkbox {
    margin-left: 65px !important;
}

mat-toolbar {
    height: 37px !important;
    width: 100%;
}

.mat-horizontal-content-container {
    padding: 0 0px 0px 0px !important;
}

.terminos-h6 {
    margin: 10px;
}

.terminos-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.terminos-margin {
    margin: 0 10px;
}

.mat-standard-chip .mat-chip-remove.mat-icon {
    width: 18px;
    height: 18px;
    color: #0098ca;
}

.mat-standard-chip.mat-chip-with-trailing-icon {
    padding-left: 24px;
}

.card-body {
    flex: 1 1 auto;
    padding: 0;
}

table.table thead th {
    width: 800px;
}

.col-md-auto {
    margin-right: 70px;
}

button {
    width: 100%;
}

.formAll {
    display: grid;
    margin-top: -14px;
    height: 150px;
}

#mat-option-0 {
    line-height: 0px !important;
    height: 50px !important;
}

#mat-option-1 {
    line-height: 0px !important;
    height: 50px !important;
}

 ::ng-deep .mat-autocomplete-panel.customer {
    max-height: 228px !important;
    width: 500px !important;
    min-width: 480px !important;
}

.anchoCliente {
    width: 150px !important;
}

 ::ng-deep .mat-autocomplete-panel.container {
    max-height: 228px !important;
    width: 400px !important;
    min-width: 200px !important;
}

 ::ng-deep .mat-autocomplete-panel.products {
    max-height: 228px !important;
    width: 220px !important;
    min-width: 200px !important;
}

.example-container {
    height: 300px;
    overflow: auto;
}

table {
    width: 100%;
}

@media all and (min-width: 768px) {
    .miTableTripulante {
        overflow: auto;
    }
    tr {
        td {
            vertical-align: middle !important;
        }
        span {
            &:not([class]) {
                padding: 1rem 1rem;
            }
        }
    }
}

@media(max-width:992px) {
    .miTableTripulante {
        overflow: auto;
    }
}

// Tablets en horizonal y escritorios normales ------------------------------------------------------------------------- / 
@media (min-width: 1024px) {}

// Escritorios muy anchos ------------------------------------------------------------------------- */ 
@media (min-width: 1200px) {}

.card {
    box-shadow: 0 2px 5px 0 #ffffff, 0 2px 10px 0 rgba(255, 255, 255, 1) !important;
    border: 0 !important;
    height: 428px;
    overflow: visible;
}

.input-width {
    width: 120px;
    border: 1px solid #dcdcdc;
}

.input-number-width {
    width: 60px;
}

.input-number-price {
    width: 80px;
}

.input-produc-price {
    width: 100%;
}

.purchase-backcolor {
    background-color: #cd6155 !important;
}

.text-success {
    color: #17a589 !important;
}

.purchase-total {
    float: right;
    width: 236px;
}

.purchase-provee-error {
    margin-top: -18px;
    font-size: 13px;
    font-weight: 400;
}

.purchase-customer-type {
    width: 69%;
}

.purchase-align-button {
    margin-left: 29px;
}

.purchase-buttom-edit-padding {
    padding: 5px;
}

.text-color-accent {
    color: #ffffff;
}

.purchase-buttom-padding {
    padding: 14px;
}

.purchase-align-submit,
.mat-list-item-content {
    float: right !important;
}

.purchase-item-padding-total {
    padding-left: 74px;
}

.purchase-item-padding-tax {
    padding-left: 32px;
}

.color-button {
    background-color: #10085d;
}

.width-form-groud {
    display: inline-flex;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.button-search {
    background-color: transparent;
    color: #000;
    border: 1px solid #ffff;
}

//////////////////////////////////////////////////////praa buscar
.example-chip-list {
    width: 100%;
}

.client-buttom-width {
    width: 57%;
}

.warehouse-width-button {
    width: 50%;
}

//////////////buscar cliente
.example-chip-list {
    width: 100%;
}

.client-buttom-width {
    width: 57%;
}

.warehouse-width-button {
    width: 50%;
}

.info-box-table {
    display: block;
    height: 36px;
    min-height: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    border-radius: 2px;
    margin-bottom: 15px;
}

.info-box-icon-table {
    display: block;
    float: left;
    height: 36px;
    min-height: 30px;
    width: 30px;
    text-align: center;
    font-size: 25px;
    line-height: auto;
    align-items: center;
    margin: 0 auto;
    background: rgba(0, 0, 0, .2);
    background-color: rgba(0, 0, 0, .2);
    border-radius: 2px 0 0 2px;
}

.info-box-content-table {
    padding: 5px;
    margin-left: 30px;
}

.info-box-text-table {
    text-transform: uppercase;
    display: block;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-box-number-table {
    display: block;
    font-weight: 700;
    font-size: 10px;
}