<form [formGroup]="firstform" class="client-form-top" (ngSubmit)="onSubmit()">
    <div class="form-group">

        <mat-form-field class="example-chip-list">
            <mat-label>Placa(*)</mat-label>
            <input matInput formControlName="placa" [ngClass]="{ 'is-invalid': submitted && f.placa.errors }" />
            <mat-error *ngIf="submitted && f.placa.errors">
                <div *ngIf="f.placa.errors.required">
                    Por Favor, Ingrese la placa
                </div>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-chip-list">
            <mat-label>Número(*)</mat-label>
            <input type="text" matInput formControlName="numero"
                [ngClass]="{ 'is-invalid': submitted && f.numero.errors }" />
            <mat-error *ngIf="submitted && f.numero.errors">
                <div *ngIf="f.numero.errors.required">
                    Por Favor, Ingrese el número
                </div>
            </mat-error>
        </mat-form-field>


        
        <mat-form-field class="example-chip-list">
            <mat-label>Estatus(*)</mat-label>

            <mat-select   formControlName="tipo"
                placeholder="Seleccione Estatus">
                 <mat-option value="Operativo">Operativo</mat-option>
     
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-chip-list">
            <mat-label>Descripción(*)</mat-label>
            <input matInput formControlName="description"
                [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
            <mat-error *ngIf="submitted && f.description.errors">
                <div *ngIf="f.description.errors.required">
                    Por Favor, Ingrese la Descripción
                </div>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-chip-list">
            <mat-label>Socio (*)</mat-label>

            <input aria-label="Number" type="text" placeholder="Ingresar nombre de socio" matInput formControlName="socio" [matAutocomplete]="auto">
            <mat-autocomplete (optionSelected)="onSelectionChanged4($event)" autoActiveFirstOption #auto="matAutocomplete">
                <!--[displayWith]="displayFn"-->

                <mat-option *ngFor="let option  of filteredOptions4  | async" [value]="option">
                    {{ option.name }}
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="submitted && f.socio.errors">
                <div *ngIf="f.socio.errors.required">
                    Por favor, ingrese un socio
                </div>
            </mat-error>
        </mat-form-field>
    </div>



    <div class="form-group warehouse-width-button">
        <div class="row ">
            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <button [disabled]="loading" mat-raised-button color="primary" class="btn btn-accent">
                            Aceptar
                        </button>
                    </div>
                    <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <button style="color:white" mat-raised-button color="accent" class="btn btn-accent"
                            type="button" (click)="closeModal()">
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>