<div class="container">
    <div class="row" style="padding-top: 20px; padding-bottom: 100px ">
        <div class="col-md-8 mx-auto">
            <mat-tab-group [linear]="true" #stepper class="mat-elevation-z8">

                <mat-tab [stepControl]="form">
                    <ng-template mat-tab-label>
                        <mat-icon class="material-icons"> person </mat-icon>
                        Datos de Usuario</ng-template>
                    <div class="example-large-box mat-lifting-z4">
                        <form [formGroup]="form">

                            <div class="row">
                                <div class="col-md-12">
                                    <ng-container *ngIf="this.profileImage !== null">
                                        <div class="row">
                                            <div class="col-md-6" style="text-align: center;">
                                                <img style="border-radius: 50%; width:120px; height: 120px;" [src]="profileImage" alt="">
                                                <br> <input type="file" name="file" id="file" class="inputfile" accept="image/*" (change)="updateSource($event)">
                                                <label for="file">Cargar Imágen</label>
                                            </div>
                                            <div class="col-md-6" style="text-align: left; margin-top: 40px">
                                                <h5><b>{{userName}}</b></h5>
                                                <h6>{{userRole}}</h6>
                                            </div>
                                        </div>
                                        <hr>

                                    </ng-container>
                                    <ng-container *ngIf="this.profileImage === null">

                                        <div class="row">
                                            <div class="col-md-6" style="text-align: center;">
                                                <i style="font-size:84px" class="fas fa-cloud-upload-alt" aria-hidden="true"></i>
                                                <br> <input type="file" class="inputfile" accept="image/*" (change)="updateSource($event)">
                                                <label for="file">Cargar Imágen</label>
                                            </div>
                                            <div class="col-md-6" style="text-align: left; margin-top: 40px">
                                                <h5><b>{{userName}}</b></h5>
                                                <h6>{{userRole}}</h6>
                                            </div>
                                        </div>
                                        <hr>
                                    </ng-container>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div style="font-size:9px; color:red;" *ngIf="form.get('email').touched &&    form.get('email').hasError('required')">El correo electrónico es requerido</div>

                                            <div class="input-group form-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                                </div>
                                                <input autocomplete="true" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="text" class="form-control" formControlName="email" placeholder="Correo Electrónico(*)">

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div style="font-size:9px; color:red;" *ngIf="form.get('name').touched && form.get('name').hasError('required')">El nombre es requerido</div>

                                    <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input autocomplete="true" type="text" class="form-control" formControlName="name" placeholder="Nombres(*)">
                                    </div>

                                </div>


                                <div class="row">
                                    <hr>
                                </div>

                                <div class="col-md-6">
                                    <!--<button mat-raised-button color="accent" style="color:white !important" matStepperNext (click)="checkFormOnStep() " class="btn btn-accent profile-buttom-cancel">Siguiente</button>-->

                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6" style="text-align: left;">
                                            <button mat-raised-button color="primary" (click)="submitUpdateProfile()" class="btn btn-accent">Guardar</button>

                                        </div>
                                        <div class="col-md-6" style="text-align: right;">
                                            <button style="color:white !important" mat-raised-button color="accent" (click)="goToMenu()" class="btn btn-accent profile-buttom-cancel">Cancelar</button>

                                        </div>
                                    </div>
                                </div>


                            </div>
                        </form>
                    </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="material-icons"> https </mat-icon>
                        Datos de Autenticación</ng-template>
                    <div class="example-large-box mat-lifting-z4">
                        <form [formGroup]="formPass">
                            <div class="row">
                                <div class="col-md-12">

                                    <ng-container *ngIf="this.profileImage !== null">
                                        <div class="row">
                                            <div class="col-md-6" style="text-align: center;">
                                                <img style="border-radius: 50%; width:120px; height: 120px;" [src]="profileImage" alt="">
                                            </div>
                                            <div class="col-md-6" style="text-align: left; margin-top: 40px">
                                                <h5><b>{{userName}}</b></h5>
                                                <h6>{{userRole}}</h6>
                                            </div>
                                        </div>
                                        <hr>

                                    </ng-container>
                                    <ng-container *ngIf="this.profileImage === null">

                                        <div class="row">
                                            <div class="col-md-6" style="text-align: center;">
                                                <i style="font-size:84px" class="fas fa-cloud-upload-alt" aria-hidden="true"></i>
                                                <br> <input type="file" name="file" id="file" class="inputfile">
                                                <label for="file">Cargar Imágen</label>
                                            </div>
                                            <div class="col-md-6" style="text-align: left; margin-top: 40px">
                                                <h5><b>{{userName}}</b></h5>
                                                <h6>{{userRole}}</h6>
                                            </div>
                                        </div>
                                        <hr>
                                    </ng-container>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div style="font-size:9px; color:red;" *ngIf="formPass.get('password').touched && formPass.get('password').hasError('required')">La contraseña es requerido</div>

                                            <div class="input-group form-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                                </div>
                                                <input autocomplete="true" type="password" class="form-control" formControlName="password" placeholder="Contraseña(*)">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div style="font-size:9px; color:red;" *ngIf="formPass.get('repeatPassword').touched && formPass.get('repeatPassword').hasError('required')">Por favor repita la contraseña</div>

                                            <div class="input-group form-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                                </div>
                                                <input autocomplete="true" type="password" class="form-control" formControlName="repeatPassword" placeholder="Repita la contraseña(*)">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <!-- <button mat-raised-button style="color:white !important" color="accent" matStepperPrevious class="btn btn-accent profile-buttom-cancel">Anterior</button>-->

                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6" style="text-align: left;">
                                            <button mat-raised-button color="primary" (click)="submitUpdateProfile()" class="btn btn-accent">Guardar</button>

                                        </div>
                                        <div class="col-md-6" style="text-align: right;">
                                            <button mat-raised-button style="color:white !important" color="accent" (click)="goToMenu()" class="btn btn-accent profile-buttom-cancel">Cancelar</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
        <!-- FIN COL-MD-12-->
    </div>
    <!-- FIN ROW-->
</div>
<div style="padding-bottom: 100px"></div>