<form [formGroup]="firstform" class="client-form-top">
    <div class="row">
        <div class="col-md-12">
            <ng-container>
                <div class="row">
                    <div *ngIf="this.profileImage2 !== null" class="col-md-12" style="text-align: center;">
                        <img style="border-radius: 50%; width:120px; height: 120px;" [src]="profileImage2" alt="">

                        <br> <input type="file" id="file1" name="file1" class="btn inputfile" accept="image/*" (change)="updateSource2($event)">
                        <label for="file1">Cambiar Foto</label>
                    </div>
                    <div *ngIf="this.profileImage2 === null " class="col-md-12" style="text-align: center;">
                        <i style="font-size:84px" class="fas fa-cloud-upload-alt" aria-hidden="true"></i>
                        <br> <input type="file" id="file1" name="file1" class="btn inputfile" accept="image/*" (change)="updateSource2($event)">
                        <label for="file1">Cargar Foto</label>
                    </div>



                </div>
                <hr>

            </ng-container>
        </div>
    </div>
    <div class="form-group">

        <mat-form-field class="example-chip-list">
            <mat-label>DNI</mat-label>
            <input matInput required formControlName="dni" id="dni" type="text" />
            <mat-error *ngIf="submitted && f.dni.errors">
                <div *ngIf="f.dni.errors.required">
                    Por favor, ingrese un dni
                </div>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-chip-list">
            <mat-label>Nombre Comercial</mat-label>
            <input matInput required formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <mat-error *ngIf="submitted && f.name.errors">
                <div *ngIf="f.name.errors.required">
                    Por Favor, Ingrese nombre
                </div>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-chip-list">
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
            <!--<mat-error *ngIf="submitted && f.address.errors">
                <div *ngIf="f.address.errors.required">
                    Por Favor, Ingrese direccion
                </div>
                </mat-error>-->
        </mat-form-field>
        <div class="form-group">
            <div class="row">
                <mat-form-field class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 example-chip-list">
                    <mat-chip-list #chipList2 aria-label="Fruit2 selection2">
                        <mat-chip *ngFor="let fruit2 of fruits2" [selectable]="selectable2" [removable]="removable2" (removed)="removePhone(fruit2)">
                            {{ fruit2 }}
                            <mat-icon matChipRemove *ngIf="removable2">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Teléfono" #fruitInput [formControl]="fruitCtrl2" [matAutocomplete]="auto" [matChipInputFor]="chipList2" [matChipInputSeparatorKeyCodes]="separatorKeysCodes2" [matChipInputAddOnBlur]="addOnBlur2" (matChipInputTokenEnd)="addPhone($event)"
                            [ngClass]="{ 'is-invalid': submitted && f.fruitCtrl2.errors }" />
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete">
                    </mat-autocomplete>
                </mat-form-field>

                <mat-error *ngIf="statusValidPhone" class="noti-error-user">
                    <div *ngIf="statusValidPhone">
                        Teléfono invalido
                    </div>
                </mat-error>
                <div *ngIf="!statusValidPhone">
                    <span class="text-menssag-span"> <i>Agrega multiples teléfonos presionando "Enter"</i> </span>

                </div>

            </div>
        </div>
        <!--
        <mat-form-field class="example-chip-list">
            <mat-label>Email(*)</mat-label>
            <input matInput formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <mat-error *ngIf="submitted && f.email.errors">
                <div *ngIf="f.email.errors.required">
                    Por Favor, Ingrese email
                </div>
            </mat-error>
        </mat-form-field>-->
        <div class="form-group">
            <div class="row">
                <mat-form-field class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 example-chip-list">
                    <mat-chip-list #chipList aria-label="Fruit selection">
                        <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable" (removed)="remove(fruit)">
                            {{ fruit }}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Correo Electrónico" #fruitInput [formControl]="fruitCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)"
                            [ngClass]="{ 'is-invalid': submitted && f.fruitCtrl.errors }" />
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete">
                    </mat-autocomplete>
                </mat-form-field>

                <mat-error *ngIf="statusValidEmail" class="noti-error-user">
                    <div *ngIf="statusValidEmail">
                        Correo invalido
                    </div>
                </mat-error>
                <div *ngIf="!statusValidEmail">
                    <span class="text-menssag-span"> <i>Agrega multiples correos presionando "Enter"</i> </span>

                </div>

            </div>
        </div>

    </div>



    <div class="form-group warehouse-width-button">
        <div class="row ">
            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <button [disabled]="loading" mat-raised-button color="primary" class="btn btn-accent" (click)="onSubmit()">
            Aceptar
          </button>
                    </div>
                    <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <button style="color:white" mat-raised-button color="accent" class="btn btn-accent" type="button" (click)="closeModal()">
            Cancelar
          </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>