<form [formGroup]="firstform" class="client-form-top" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-12">
            <ng-container>
                <div class="row">
                    <div *ngIf="this.profileImage2 !== null" class="col-md-12" style="text-align: center;">
                        <img style="border-radius: 50%; width:120px; height: 120px;" [src]="profileImage2" alt="">

                        <br> <input type="file" id="file1" name="file1" class="btn inputfile" accept="image/*" (change)="updateSource2($event)">
                        <label for="file1">Cambiar Foto</label>
                    </div>
                    <div *ngIf="this.profileImage2 === null " class="col-md-12" style="text-align: center;">
                        <i style="font-size:84px" class="fas fa-cloud-upload-alt" aria-hidden="true"></i>
                        <br> <input type="file" id="file1" name="file1" class="btn inputfile" accept="image/*" (change)="updateSource2($event)">
                        <label for="file1">Cargar Foto</label>
                    </div>



                </div>
                <hr>

            </ng-container>
        </div>
    </div>
    <div class="form-group">

        <mat-form-field class="example-chip-list">
            <mat-label>DNI(*)</mat-label>
            <input matInput formControlName="dni" [ngClass]="{ 'is-invalid': submitted && f.dni.errors }" />
            <mat-error *ngIf="submitted && f.dni.errors">
                <div *ngIf="f.dni.errors.required">
                    Por Favor, Ingrese dni
                </div>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-chip-list">
            <mat-label>Nombre Comercial(*)</mat-label>
            <input matInput formControlName="nombre" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
            <mat-error *ngIf="submitted && f.nombre.errors">
                <div *ngIf="f.nombre.errors.required">
                    Por Favor, Ingrese nombre
                </div>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-chip-list">
            <mat-label>Dirección(*)</mat-label>
            <input matInput formControlName="direccion" [ngClass]="{ 'is-invalid': submitted && f.direccion.errors }" />
            <mat-error *ngIf="submitted && f.direccion.errors">
                <div *ngIf="f.direccion.errors.required">
                    Por Favor, Ingrese direccion
                </div>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-chip-list">
            <mat-label>Teléfono(*)</mat-label>
            <input matInput formControlName="telefono" [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }" />
            <mat-error *ngIf="submitted && f.telefono.errors">
                <div *ngIf="f.telefono.errors.required">
                    Por Favor, Ingrese telefono
                </div>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-chip-list">
            <mat-label>Email(*)</mat-label>
            <input matInput formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <mat-error *ngIf="submitted && f.email.errors">
                <div *ngIf="f.email.errors.required">
                    Por Favor, Ingrese email
                </div>
            </mat-error>
        </mat-form-field>

    </div>



    <div class="form-group warehouse-width-button">
        <div class="row ">
            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <button [disabled]="loading" mat-raised-button color="primary" class="btn btn-accent">
            Aceptar
          </button>
                    </div>
                    <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <button style="color:white" mat-raised-button color="accent" class="btn btn-accent" type="button" (click)="closeModal()">
            Cancelar
          </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>