.example-chip-list {
    width: 100%;
}

.client-buttom-width {
    width: 57%;
}

.warehouse-width-button {
    width: 50%;
}

//////////////////////////////input file
.inputfile {
    /* visibility: hidden etc. wont work */
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile:focus+label {
    /* keyboard navigation */
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile+label * {
    pointer-events: none;
}

label[for="file1"] {
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    background-color: #000;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: 5px 10px !important;
    margin: 5px 10px !important;
    width: fit-content;
    text-align: center;
    border-radius: 5px;
}

////////////////////////////// input file
.text-menssag-span {
    font-size: 12px;
}