<div class="container-fluid prod-container-table">

    <div class="nav-menu-top">
        <nav class="navbar  navbar-expand-lg navbar-dark mat-toolbar mat-primary nav-padding-option">
            <div class="table-title-width">
                <div>
                    <img src="../../../../../assets/menuIcons/ballot_w.png" height="38px" alt="" />
                </div>
                <div>
                    &nbsp; Procesadas
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto col-lg-8 col-md-9 col-sm-9 col-xs-9">
                    <li class="nav-item active button-li-top col-lg-2 col-md-1 col-sm-1 col-xs-1">
                        <a class="pointer" (click)="Refresh()">
                            <button *ngIf="true" mat-mini-fab color="white" matTooltip="Refrescar Tabla" data-toggle="tooltip" data-placement="left">
                <i class="fas fa-sync-alt"></i>
              </button>
                        </a>
                    </li>
                </ul>
                <span class="navbar-text button-li-top">
          <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6">
              <mat-form-field width="40px">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar" />
              </mat-form-field>
            </div>

            <!--<div class="col-lg-7 col-md-5 col-sm-5 col-xs-5 text-right">
              <a class="pointer" (click)="exportTo('xls')">
                <button class="opAut-button-excel" mat-mini-fab color="white" matTooltip="Exportar a Excel"
                  data-toggle="tooltip" data-placement="left">
                  <svg style="width:20px;height:20px;" viewBox="0 0 24 24">
                    <path fill="#ffff"
                      d="M6,2H14L20,8V20A2,2 0 0,1 18,22H6A2,2 0 0,1 4,20V4A2,2 0 0,1 6,2M13,3.5V9H18.5L13,3.5M17,11H13V13H14L12,14.67L10,13H11V11H7V13H8L11,15.5L8,18H7V20H11V18H10L12,16.33L14,18H13V20H17V18H16L13,15.5L16,13H17V11Z" />
                  </svg>
                </button>
              </a>
            </div>-->
          </div>
        </span>
            </div>
        </nav>
    </div>


    <div class="prod-scroll-table">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8  ">

            <!-- Position Column -->
            <ng-container matColumnDef="Item">
                <th mat-header-cell *matHeaderCellDef> Item </th>
                <td mat-cell *matCellDef="let element"> {{element.Item}}</td>
            </ng-container>
            <!-- Position Column -->
            <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="Cliente - Sucursal">
                <th mat-header-cell *matHeaderCellDef> Cliente - Sucursal </th>
                <td mat-cell *matCellDef="let element"> {{element.client_name}} - {{element.branch_name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Fecha - Hora">
                <th mat-header-cell *matHeaderCellDef> Fecha - Hora </th>
                <td mat-cell *matCellDef="let element"> {{element.date_time}}</td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="Usuario">
                <th mat-header-cell *matHeaderCellDef> Usuario </th>
                <td mat-cell *matCellDef="let element"> </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="Observación">
                <th mat-header-cell *matHeaderCellDef> Observación </th>
                <td mat-cell *matCellDef="let element">{{element.observation}} </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="Acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                    <div class="row text-center purchase-width-actions">

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 purchase-buttom-edit pointer" matTooltip="Imprimir operación" (click)="print(element.id)">
                            <i class="fas fa-print"></i>
                        </div>

                    </div>


                </td>
            </ng-container>
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                    <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="table-responsive">
                            <br>
                            <table [dataSource]="dataSource" class="table table-bordered " style="width: 100%;">
                                <caption>
                                    Listado de Operaciones de Entradas
                                </caption>

                                <tr>
                                    <th>Item</th>
                                    <th>Peso</th>
                                    <th>Cantidad</th>
                                    <th>Servicio</th>
                                    <th>Color</th>
                                    <th>Sub Servicio</th>
                                    <th>Tipo de Ropa</th>
                                    <th>Fecha y Hora</th>


                                </tr>
                                <ng-container *ngFor="let input of element.inputs; let id2 = index">
                                    <tr>
                                        <td>{{id2+1}}</td>
                                        <td>{{input.weight}}</td>
                                        <td>{{input.quantity}}</td>
                                        <td>{{input.service_name}}</td>
                                        <td>{{input.color_name}}</td>
                                        <td>{{input.subservices_tag}}</td>
                                        <td>{{input.operation_type}}</td>
                                        <td>{{input.created_at}}</td>


                                    </tr>
                                </ng-container>

                            </table><br>

                            <br>
                            <table [dataSource]="dataSource" class="table table-bordered " style="width: 100%;">
                                <caption>
                                    Listado de Operaciones de Salidas
                                </caption>

                                <tr>
                                    <th>Item</th>
                                    <th>Peso</th>
                                    <th>Cantidad</th>
                                    <th>Servicio</th>
                                    <th>Color</th>
                                    <th>Sub Servicio</th>
                                    <th>Tipo de Ropa</th>
                                    <th>Fecha y Hora</th>

                                </tr>
                                <ng-container *ngFor="let output of element.outputs; let id2 = index">
                                    <tr>
                                        <td>{{id2+1}}</td>
                                        <td>{{output.weight}}</td>
                                        <td>{{output.quantity}}</td>
                                        <td>{{output.service_name}}</td>
                                        <td>{{output.color_name}}</td>
                                        <td>{{output.subservices_tag}}</td>
                                        <td>{{output.operation_type}}</td>
                                        <td>{{output.created_at}}</td>



                                    </tr>
                                </ng-container>

                            </table><br>
                        </div>


                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row" [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>



</div>